<h3> Estadísticas de la base de datos de preguntas </h3>
<table id="tab_preguntas" style="text-align:left">
  <tr><td>Número de preguntas</td><td><%= estadisticas.preguntas %></td></tr>
  <tr><td>Número de total de comentarios</td><td><%= estadisticas.comentarios %></td></tr>
  <tr><td>Número de preguntas con comentarios</td><td><%= estadisticas.con_comentarios %></td></tr>
  <tr><td>Número de preguntas sin comentarios</td><td><%= estadisticas.sin_comentarios %></td></tr>
  <tr><td>Número medio de comentarios por pregunta</td><td><%= estadisticas.media_comentarios %></td></tr>
</table>
