<br>
<div id="busq_preguntas">
	<form method="get" action="/quizes">
		<p> Introduzca el texto a buscar</p>
		<input type="text" name="search" value="Busqueda" />
		<select name="search_tema">
			<option value="%%" selected>Todos</option>
			<% for(var i=0; i < temas.length; i++){ %>
				<option value="<%= temas[i] %>"><%= temas[i] %></option>
			<% } %>
		</select>

		<input type="submit" value="Buscar" />
	</form>
</div>
<br>
<div>
	<table id="tab_preguntas">
		<% for(var i=0; i < quizes.length; i++){ %>
			<tr>
				<td><a href="/quizes/<%= quizes[i].id %>"><%= i+1 %></a></td>
				<td><a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
				<td><a href="/quizes/<%= quizes[i].id %>/edit"><button>Editar</button></a></td>
				<td>
					<form method="post" action="/quizes/<%= quizes[i].id %>?_method=delete">
						<button type="submit" onclick="return confirm('Borrar <%= quizes[i].pregunta %>');">
							Borrar
						</button>
					</form>
				</td>
			</tr>
		<% } %>
	</table>
</div>
<br>
<a href="/quizes/new"><button type="button">Crear pregunta</button></a>
